@font-face {
  font-family: 'MV-Boli';
  src: url('../fonts/Mv\ Boli.woff2') format('woff2'),
    url('../fonts/Mv-Boli.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'MV-Boli', sans-serif;
}

:root {
  --square-width: 20px;
}

body {
  background-color: #000;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#game-info {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--square-width) * 20);
}

h1, h2 {
  margin: 0;
  color: antiquewhite;
  font-size: 34px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: var(--square-width);
  height: 20px;
}

.d-none {
  display: none;
}

.wall {
  background-image: url('../img/wall.jpg');
}

.dot {
  background-color: rgb(255, 255, 128);
  border: 8px solid #000;
}

.power-pill {
  background-color: rgb(255, 255, 128);
  border: 4px solid #000;
  border-radius: 100%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
  transform: rotate(0) !important;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.scared-ghost {
  background: blue !important;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.4s linear forwards infinite;
}

.rotate-down {
  transform: rotate(90deg);
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}

#start-button {
  color: antiquewhite;
  position: absolute;
  background: url('../img/packman.png') no-repeat;
  width: 125px;
  height: 125px;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#start-button::before {
  position: absolute;
  content: 'click to PLAY';
  top: 53%;
  right: -82%;
  font-size: 20px;
  transition: .5s;
}

#start-button:hover::before {
  right: -38%;
}

#winner, #loser {
  position: absolute;
  top: 38%;
  width: 350px;
  height: 230px;
  padding-top: 20px;
  border-radius: 15px;
  font-size: 32px;
  color: rgb(255, 230, 0);
  text-align: center;
}

#winner {
  background-color: rgba(21, 177, 34, 0.35);
  border: solid green 4px;
}

#loser {
  background-color: rgba(170, 0, 0, 0.5);
  border: solid red 4px;
}

#winner p, #loser p {
  font-size: 24px;
  padding-top: 60px;
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  50% { color: rgb(255, 230, 0); }
  80% { color: rgba(255, 230, 0, 0); }
}