* {
  box-sizing: border-box;
}

body {
  background-color: #555;
}

.wrapper {
  margin: 40px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
}

.wall {
  background-color: blue;
}

.dot {
  background-color: rgb(255, 255, 128);
  border: 8px solid #555;
}

.power-pill {
  background-color: rgb(255, 255, 128);
  border: 4px solid #555;
  border-radius: 100%;
}

.pacman {
  border-radius: 100%;
  border: 10px solid green;
}

.ghost {
  background-color: grey;
}